@model EShop.Web.Models.Login

@{
    ViewBag.Title = "SignIn";
}

<h2>Zaloguj się</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <div><a href="../Account/ForgotPassword">Nie pamiętasz hasła?</a></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Zaloguj się" class="btn btn-default" />*@
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <span>Nie masz konta? <a href="../Account/SignUp">Zarejestruj się</a></span>
            </div>
        </div>
    </div>
}

<br/><br/>
<div>
    @Html.ActionLink("Powrót", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
